<mat-toolbar color="primary" class="navbar">
    <div class="navbar-container">
        <span class="app-title">Book Repository</span>
        <div class="nav-links">
            <button mat-button [matMenuTriggerFor]="authorsMenu">
                Authors <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #authorsMenu="matMenu">
                <button mat-menu-item>Create Author</button>
                <button mat-menu-item>List Authors</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="booksMenu">
                Books <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #booksMenu="matMenu">
                <button mat-menu-item>Create Book</button>
                <button mat-menu-item>List Books</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="historyMenu">
                Book History <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #historyMenu="matMenu">
                <button mat-menu-item>View History</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
