<div class="container">
  <div class="page-header">{{title}}</div>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Book Title</label>
      <input id="title"
             type="text"
             formControlName="title"
             class="form-control ninety-eight-percent-width"
             [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].invalid || errorMessage['title'] }" />
      <div *ngIf="!errorMessage['title'] && f['title'].touched && f['title'].invalid" class="invalid-feedback">
        Book title is required.
      </div>
      <div *ngIf="errorMessage['title']" class="invalid-feedback">
        {{ errorMessage['title'] }}
      </div>
    </div>
    <div class="form-group">
      <label for="description">Book Description</label>
      <textarea id="description"
                formControlName="description"
                class="form-control ninety-eight-percent-width"
                [ngClass]="{ 'is-invalid': f['description'].touched && f['description'].invalid || errorMessage['description'] }">
      </textarea>
      <div *ngIf="!errorMessage['description'] && f['description'].touched && f['description'].invalid" class="invalid-feedback">
        Book description is required.
      </div>
      <div *ngIf="errorMessage['description']" class="invalid-feedback">
        {{ errorMessage['description'] }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="ninety-percent-width" appearance="fill">
        <mat-label>Publish Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="publishDate" readonly
               [ngClass]="{ 'is-invalid': f['publishDate'].touched && f['publishDate'].invalid || errorMessage['publishDate'] }">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!errorMessage['publishDate'] && f['publishDate'].touched && f['publishDate'].invalid">
          Publish date is required.
        </mat-error>
        <mat-error *ngIf="errorMessage['publishDate']">
          {{ errorMessage['publishDate'] }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="ninety-percent-width" appearance="fill">
        <mat-label>Authors</mat-label>
        <mat-select formControlName="authors" multiple (selectionChange)="authorSelectionChange($event)">
          <mat-option *ngFor="let author of authorsList" [value]="author.id">
            {{ author.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!errorMessage['authors'] && f['authors'].invalid && f['authors'].errors?.['required']">
          At least one author is required.
        </mat-error>
        <mat-error *ngIf="!errorMessage['authors'] && f['authors'].invalid && f['authors'].errors?.['maxAuthors']">
          You can select up to 3 authors only.
        </mat-error>
        <mat-error *ngIf="errorMessage['authors']">
          {{ errorMessage['authors'] }}
        </mat-error>
      </mat-form-field>
    </div>
    <button type="submit" class="btn" [disabled]="bookForm.invalid">
      Submit
    </button>
  </form>
</div>
