.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.filter-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
}

  .filter-section input[type="text"] {
    width: 250px;
    padding: 5px;
    font-size: 16px;
  }

  .filter-section label {
    display: flex;
    align-items: center;
  }

.sort-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions-buttons {
  display: flex;
  gap: 10px;
}

.page-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-table {
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.mat-header-cell {
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.custom-row {
  background-color: white;
}

  .custom-row:nth-child(even) {
    background-color: #f0f0f0;
  }

.mat-cell.actions-cell {
  text-align: center;
}

.custom-button {
  background-color: #1976d2;
  color: white;
}

  .custom-button:hover {
    background-color: #1565c0;
  }

.delete-button {
  background-color: #f44336;
  color: white;
}

  .delete-button:hover {
    background-color: #d32f2f;
  }

.mat-cell.book-description-cell {
  white-space: normal;
  word-wrap: break-word;
}

mat-paginator {
  margin-top: 10px;
}

.mat-mdc-cell {
  max-width: 100px;
}

.mat-mdc-row {
  word-wrap: break-word;
}

.checkbox:hover {
  cursor: pointer;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

#sortDirection {
  cursor: pointer;
}

.success-message {
  color: green;
  background-color: #e0ffe0;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  max-width: 80%;
  margin: 0 auto 20px auto;
}
